@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #2c3e50;
    color: #efefef;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

.container {
    max-width: 900px;
    width: 95%;
    margin: auto;
}
.todoForm {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    height: 54px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 1rem;
}
.todoForm__input {
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
}
.todoForm__btn {
    outline: none;
    border: none;
    background-color: #2c3e50;
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.main-title {
    text-align: center;
    margin: 2rem 0;
}

.todo {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-title {
    display: flex;

    gap: 1rem;
    align-items: center;
}
.todo-title p {
    font-size: 1.2rem;
}
input[type="checkbox"] {
    height: 32px;
    width: 32px;
    accent-color: #fff;
}
.cross-btn {
    font-size: 1.2rem;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    opacity: 0.8;
}
