.modalBackdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.9);
}
.modalContent {
    z-index: 2;
    background-color: #fff;

    position: fixed;
    max-width: 1280px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    max-height: 700px;
    height: 75%;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
